<div class="main actor-index">
      <div class="container">
        <div class="row">
          <div class="actor col-xs-2">
            <% @actors.each do |actor| %>

            <h3><%= actor.first_name %> </h3>
            <p> <%= actor.bio %> </p>
          </div>

         <%= link_to "Learn More", actor_path(actor) %>
         <% end %>
      </div>
</div>
